<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>The sweetest products</title>
</head>
<link href="product.css" rel="stylesheet" type="text/css"/>
<body>
<h1><strong>Welcome to the sweetest webshop!</strong></h1>
<h2>Please choose a product category</h2>

<form action="/showitemspercategory" method="post">

    <input th:each="cat: ${itemCategory}" type="submit" name="category" th:value="${cat}"></br>


</form>
</br>
<h3>Are you looking for a specific type of product?</h3>
<form action="/searchitem" method="post">
    <input type="text" name="itemName">
    <input type="submit" name="getitem" value="Search">
</form>
<h4>Your shoppingcart: <a href="/shoppingcart">CART</a> </h4>
</body>
</html>