<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order succeeded</title>
</head>
<link href="shopping.css" rel="stylesheet" type="text/css"/>
<body>
<h2>ShoppingOrder is completed! Please go back to main page and look for sweets to buy next time!</h2>


        <div th:each="oLine: ${shoppingorder.orderLines}">
        Item: <span th:text="${oLine.item}"></span></br>
        No of items: <span th:text="${oLine.quantity}"></span></br>
        </div>



<p>Back to product categories --> <a href="/login">Categories</a></p>
</body>
</html>